body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.centrado {
	justify-content: center;
}

#btn-menu {
	font-size: 20px;
	text-decoration: none;
	display: none;
	background: #0747A6;
	color: white;
	border-radius: 0 2px 2px 0;
}

#btn-menu-left {
	font-size: 20px;
	margin-left: 60px;
	display: none;
	position: absolute;
	top: 0;
	background: #0747A6;
	color: white;
	border-radius: 0 2px 2px 0; 
}

.activo {

}

.menu-container {
	background: #0747A6;
	position: fixed;
	height: 100%;
	width: 60px;
	left: 0;
	top: 0;
	/*
	box-shadow: 3px 0 10px black;
	transitio: left .5s ease;
	z-index: 1000;*/
}

.main-container {
	height: 100%;
	margin-left: 60px; 
	padding: 10px;
}

.menu {
	width: 100%;
	list-style: none;
	padding-left: 0;
    text-align:center;
}

.menu li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu li a {
	color: white;
	font-size: 20px;
}

.inferior {
	position:absolute;
    bottom: 20px;
    width: 100%;
}

.menu li:hover {
	background: #07357B;
	/*border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;*/
}

@media (max-width: 568px) {

	#btn-menu {
		display: block;
		position: fixed;
	}

	.menu-container {
		display: none;
	}

	.main-container {
		margin-left: 10px;
	}
	/*
	#btn-menu:checked ~ .menu-container {
		display: block;
	}*/
}

@media (max-height: 210px) {
	.inferior {
		position:relative;
    	bottom: 0;
    	width: 100%;
	}	
}